@import 'resets';

//color
$primary: hsl(174, 63%, 45%);
$b-color: hsl(0, 0%, 67%);
$shadow:  rgba(1, 0, 0, 0.4);
$b-bottom-c: hsla(0, 0%, 67%, 0.5);

body{
    display: flex;
    place-content: center;
    margin-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 75%;
    margin-top: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    0 4px 6px rgba(0,0,0,0.08);
}

section{
    padding: 1.5rem 1.3rem;
}

hr{
    opacity: 0.25;
}

.form__container > h2 {
    margin-bottom: 1.5rem;
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.input__group{
    position: relative;
    width: 100%;
}

.input__group label{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    transition: .5s;
}

.input__group input:focus~label {
    top: 0;
    color: $primary;
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid $b-color;
    padding: .7rem;
    padding-left: 0;
    font-size: 15px;
    outline: none;
    width: 100%;
    background: transparent;

    &:focus{
        border-bottom: 1px solid $primary;

    }
}

input[type="submit"]{
    width: 130px;
    box-shadow: 1px 0 3px $shadow;
    padding: .7rem;
    background-color: $primary;
    color: white;
    // font-weight: 600;
    font-size: 15px;
    border: none;
    transition: 0.2s linear;
    border-radius: 3px;

    &:hover{
        background-color: hsla(174, 63%, 45%, 0.8);
        box-shadow: 1px 0 5px $shadow;
    }
}

.list__container > h2{
    font-weight: 500;
    margin-bottom: 1.1rem;
}

li:not(:last-child){
    border-bottom: 1px solid $b-bottom-c;
}

li{
    padding: .6rem 2.5rem .6rem 1.2rem;
    display: flex;
    justify-content: space-between;
}

ul{
    display: block;
    border: 1px solid $b-bottom-c;
    border-radius: 3px;
    margin-bottom: 1rem;
}

button{
    width: 150px;
    box-shadow: 1px 0 3px $shadow;
    padding: .7rem;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    transition: 0.2s linear;
    border-radius: 3px;

    &:hover{
        box-shadow: 1px 0 5px rgba(5, 0, 0, 0.8);
    }
}

svg:hover{
    opacity: 0.6;
}

.filter__container{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.filter__container label{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    transition: .5s;
}

.filter__container input:focus~label {
    top: 0;
    color: $primary;
}

@media (max-width: 500px) {
    main{
        width: 100%;
        box-shadow: unset;
        margin-top: unset;
    }

    input[type="submit"], button{
        width: 100%;
    }
}